[Desktop Entry]
Encoding=UTF-8
Name=Hacker Web Snippet
Name[en]=Hacker Web Snippet
Comment=Hacker Web Snippet plasmoid, based on Web Snippet Plus. Allows embedding custom JavaScript code into the loaded page.
Type=Service
ServiceTypes=Plasma/Applet
Icon=applications-internet

X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-Plasma-DefaultSize=800,400

X-KDE-PluginInfo-Author=Artem Rizhov
X-KDE-PluginInfo-Email=artem.rizhov@gmail.com
X-KDE-PluginInfo-Name=hacker-websnippet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kde-look.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=PYQT
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
